<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NKE_Ordering_System.Properties.Settings.NKE_Order_DBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Lenovo\OneDrive\Documents\Sem 4\EDP\NKE-Ordering-System\NKE-Ordering-System\NKE_Order_DB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="NKE_Ordering_System.Properties.Settings.NKE_Order_DBConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Lenovo\OneDrive\Documents\Sem 4\EDP\NKE-Ordering-System\NKE-Ordering-System\NKE_Order_DB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="NKE_Ordering_System.Properties.Settings.NKE_Order_DBConnectionString2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\SYAHMIRUL AFIQ\Desktop\Assignment\SEM 4\E-Programming\NKE-Ordering-System\NKE-Ordering-System\NKE_Order_DB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>